<div class="container mt-3">
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-success">First Project: MyBlog</h5>
          </div>
          <ul class="mb-1 text-secondary">
            <li>Simple & Basic MyBlog App using Angular</li>
            <li>Using several Components with clear structure</li>
            <li>Using Routes and define them in app routing module</li>
            <li>Using Angular Directive router-outlet</li>
          </ul>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-primary">Second Project: Calculator</h5>
          </div>
          <ul class="mb-1 text-secondary">
            <li>Simple & Basic Calculator App using Angular</li>
            <li>Using Event Binding to map user clicks to component class</li>
            <li>Displays number and operator in input view</li>
            <li>Displays result on result view</li>
            <li>Includes clear last input and clear all inputs functionality</li>
          </ul>
        </div>
      </div>
    </div>